.wrapper{
    display: grid;
    grid-template-columns: 72px 10px 273px;
    grid-template-rows: 1fr 1fr 1fr 3fr 2fr 2fr;
    row-gap: 20px;
    place-items: start;
}

.roadmap{
    grid-row: span 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

.left1{
    grid-row-start: 1;
    grid-row-end: 2;
}

.left2{
    grid-row-start: 2;
    grid-row-end: 3;
}

.left3{
    grid-row-start: 3;
    grid-row-end: 4;
}

.left4{
    grid-row-start: 4;
    grid-row-end: 5;
}

.left5{
    grid-row-start: 5;
    grid-row-end: 6;
} 

.left6{
    grid-row-start: 6;
    grid-row-end: 7;
}

.left1, .left2, .left3, .left4, .left5, .left6{
    padding: 8px 16px;
    position: relative;
    background-color: #fff;
    color: black;
}

.left1::after, .left2::after, .left3::after, .left4::after, .left5::after, .left6::after{
    content:'';
    position: absolute;
    transform: rotateZ(45deg) translateY(15px);
    border: 5px solid #fff;
    left: 70px;
    bottom: 23px;
}

.right1, .right2, .right3, .right4, .right5, .right6{
    padding: 8px 16px;
    position: relative;
    background-color: black; 
    color: #fff;
}

.right1::before, .right2::before, .right3::before, .right4::before, .right5::before, .right6::before{
    content:'';
    position: absolute;
    transform: rotateZ(45deg) translateY(15px);
    border: 5px solid black;
    left: 5px;
    bottom: 23px;
}