.button{
    padding: 12px 42px;
    color: var(--primary-text-color);
    background-color: var(--accent-text-color);
    border: none;
    font-size: var(--paragraph-font-size);
    font-family: var(--font-family);
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    background-color: #FF852D;
    transition: 0.3s ease;
}

.button:active{
    background-color: #E3432D;
}