.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-block-start: 30px;
}
.item{
    padding: 12px 25px;
    border: 2px solid var(--small-text-color);
}

.item:first-child{
    margin-block-start: 0;
}

.span{
    color: var(--accent-text-color);
}

.images{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-block-start: 30px;
}

.gallery-image{
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.gallery-image.active{
    opacity: 1;
    outline: 2px solid var(--accent-text-color);
    transition: opacity 0.5s ease;
}

.active-image{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.p{
    font-size: var(--h5-font-size);
}

.items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 900px){
    .wrapper{
        grid-template-rows: 1fr 2fr;
        row-gap: 30px;
        grid-template-columns: 1fr;
    }

    .items{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }

    .item{
        margin: 0;
    }
}

@media (max-width: 600px){
    .images{
        margin-block-start: 20px;
    }
}

@media (max-width: 320px){
    .items{
        grid-template-columns: 1fr; 
    }

    .wrapper{
        grid-template-rows: 3fr 1fr;
        margin-block-start: 30px;
    }
}