.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-block-start: var(--medium-margin);
}

.item{
    display: flex;
    flex-direction: column;
}

.image{
    padding-block: 30px;
    padding-inline: 130px;
    background-color: #3B2341;
}

.text{
    background-color: var(--four-color);
    text-align: center;
    width: 100%;
    padding-block: 20px;
    margin: 0;
    height: 60px;
    box-sizing: content-box;
}

.paragraph{
    margin-block-start: var(--medium-margin);
}

.button{
    margin-block-start: 100px;
    margin-inline: auto;
    display: block;
}

@media (max-width: 1280px){
    .image{
        padding-block: 30px;
        padding-inline: 70px;
    }

    .wrapper{
        column-gap: 20px;
    }
}

@media (max-width: 900px){
    .wrapper{
        margin-block-start: var(--small-margin);
    }
}

@media (max-width: 600px){
    .wrapper{
        column-gap: 15px;
    }
    .image{
        padding-block: 20px;
        padding-inline: 50px;
    }
    .icon{
        width: 63px;
        height: 63px;
    }
    .h2{
        margin-block-start: 80px;
    }
    .button{
        margin-block-start: 60px;
    }

    .text{
        font-size: 16px;
    }
}

@media (max-width: 400px){
    .wrapper{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin-block-start: 30px;
    }
    .item{
        flex-direction: row;
    }
    .icon{
        width: 48px;
        height: 48px;
    }
    .image{
        padding-block: 10px;
        padding-inline: 10px;
    }
    .text{
        text-align: left;
        padding-block: 12px;
        padding-inline: 12px;
    }
    .paragraph{
        margin-block-start: 30px;
    }
    .button{
        margin-block-start: 30px;
        width: 100%;
    }
    .h2{
        margin-block-start: 80px;
    }
}