.hero{
    padding-top: var(--large-margin);
}
.h1{
    font-size: 126px;
    font-weight: 900;
}

.h2{
    color: var(--accent-text-color);
    font-weight: 900;
    font-size: var(--h1-font-size);
    margin: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap);
}

.block{
    border: 2px solid #604466;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text{
    font-weight: 700;
}

.vector{
    display: block;
    margin: 0 auto;
    margin-top: var(--medium-margin);
}

.background{
    object-fit: cover;
    object-position: center 30%;
    z-index: -1;
    overflow: visible;
}

@media (max-width: 900px){
    .h1{
        font-size: 86px;
    }

    .vector{
        margin-top: var(--gap);
    }

    .wrapper{
        column-gap: 20px;
    }
}

@media (max-width: 600px){
    .h1{
        font-size: 64px;
    }

    .wrapper{
        column-gap: 20px;
    }
}

@media (max-width: 320px){
    .h1{
        font-size: 36px;
        margin: 80px 0;
    }

    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 15px;
    }
}