@media (max-width: 400px){
.modal-menu {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 188px;
    background-color: #3B2341;
    z-index: 1000;
    display: none;
    padding-block: 30px;
    padding-inline: 15px;
}
  
.modal-menu.open {
    display: block;
}

.text{
    color: var(--primary-text-color);
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 219px;
    align-items: flex-start;
}

.button{
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding-block: 13px;
    padding-inline: 24px;
    background-color: inherit;
    outline: 2px solid var(--primary-text-color);
    font-family: var(--font-family);
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    bottom: 30px;
    position: absolute;
}
}

.modal-menu{
    display: none;
}