.star {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.star:hover .stroke {
    stroke-dashoffset: 0;
}

.fill {
    fill: none;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease forwards; 
}

.starFavorited .fill {
    fill: gold;
    clip-path: inset(0 0 0 0);
}

.stroke {
    fill: none;
    stroke: gold;
    stroke-width: 2;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    transition: stroke-dashoffset 1s ease-in-out;
}