

.svg {
    width: 0;
    height: 0;
  }

.clipped {
    width: 30px;
    height: 30px;
    background-color: gold;
    background-size: cover;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
}

.clipped:hover{
    animation-name: anim;
    animation-duration: 1s;
}

.outlined {
    background-color: #fff;
}


@keyframes anim {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.3);
    }
}

@media (max-width: 400px) {
    .stroke {
        fill: none;
        stroke: gold;
        stroke-width: 2;
        stroke-dashoffset: 0;
    }
}