.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    column-gap: 35px;
    margin-block-start: 60px;
    box-sizing: content-box;
}

.text{
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}

.image{
    grid-row: span 2;
}

.button{
    place-self: start;
    margin-block-start: 20px;
}

.image-mob{
    display: none;
}


@media (max-width: 900px){
    .wrapper{
        column-gap: 20px;
        grid-template-rows: 3fr 1fr;
    }

    .h2{
        font-size: var(--h1-font-size);
        margin-block-start: 80px;
    }

    .button{
        margin-block-start: 30px;
    }
}

@media (max-width: 600px){
    .h2{
        font-size: var(--h2-font-size);
        margin-block-start: 80px;
    }

    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        row-gap: 30px;
    }

    .button{
        margin-block-start: 0;
    }
}

@media (max-width: 400px){
    .h2{
        font-size: 26px;
        margin-block-start: 80px;
    }
    .image{
        display: none;
    }

    .image-mob{
        display: block;
    }

    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        margin-block-start: 30px;
    }

    .button{
        place-self: auto;
    }
}