.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item {
    text-align: center;
    background-color: #3B2341;
    display: flex;  
    flex-direction: column; 
    min-height: 200px;   
}

.text {
    background-color: #503655;
    flex-grow: 1;        
    margin-bottom: 0;
    padding: 18px;
}

.image{
    margin: 40 auto;
}

.span{
    color: var(--accent-text-color);
}

.services{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.services-item{
    border: 2px solid #503655;
}