.email{
    display: flex;
    align-items: center;
    gap: 16px;
}

.email:hover{
    opacity: 0.5;
    cursor: pointer;
}

.email-text{
    text-decoration: underline dashed #6D5C71;
    text-underline-offset: 4px;
}

@media (max-width: 400px) {
    .email-text{
        font-size: 13px;
    }
}