:root{
    --primary-text-color: #FFFFFF;
    --accent-text-color: #F25C3A;
    --small-text-color: #927398;
    --bg-color: #2F1634;
    --four-color: #503655;
    --button-hover-color: #FF852D;
    --button-active-color: #E3432D;
    --five-color: #3B2341;
}