@import 'fonts.css';
@import 'colors.css';

:root{
    --large-margin: 120px;
    --medium-margin: 60px;
    --small-margin: 40px;
    --container-width: 1170px;
    --header-height: 50px;
    --gap: 30px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}

span{
    color: var(--accent-text-color);
}

button, input, textarea{
    appearance: none;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

textarea{
    resize: none;
}

input, textarea{
    cursor: text;
}

@media (max-width: 1280px){
    .container{
        max-width: 900px;
        padding-inline: 20px;
    }
}

@media (max-width: 900px){
    :root{
        --container-width: 860px;
    }

    .container{
        max-width: var(--container-width);
    }
}

@media (max-width: 600px){
    :root{
        --container-width: 560px;
    }
}

@media (max-width: 400px){
    :root{
        --container-width: 320px;
        --large-margin: 80px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html, body{
    width: 100%;
    min-width: 100vw;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family: var(--font-family);
}

a{
    color: var(--primary-text-color);
    text-decoration: none;
}

h1{
    font-size: var(--h1-font-size);
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    line-height: 100%;
}

h2{
    font-size: var(--h1-font-size);
    margin-top: var(--large-margin);
    font-weight: 900;
    line-height: 100%;
}

h3{
    font-size: var(--h3-font-size);
    line-height: 100%;
}

h4{
    font-size: var(--h4-font-size);
    line-height: 100%;
}

h5{
    font-size: var(--h5-font-size);
    line-height: 100%;
}

figure{
    margin-top: 40px;
}


