.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

.footer{
    background-color: #3B2341;
    width: 100%;
    padding: 30px;
    margin-top: var(--large-margin);
}

.right-block{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 49px;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--small-text-color);
    cursor: pointer;
}

.copyright{
    color: var(--small-text-color);
    font-size: var(--small-font-size);
}

.logo-mini{
    display: none;
}

.contacts:hover{
    opacity: 0.5;
}

.logo{
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 900px){
    .container{
        flex-wrap: wrap;
    }
    .left-block{
        order: 1;
    }
    .right-block{
        order: 2;
    }
    .copyright{
        order: 3;
        flex-basis: 100%;
        text-align: center;
    }

    .footer{
        padding: 20px 0;
    }
}

@media (max-width: 600px){
    .right-block{
        gap: 99px;
    }
    .logo-mini{
        display: block;
    }
    .logo{
        display: none;
    }
}

@media (max-width: 320px){
    .footer{
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding: 20px 15px;
    }
    .left-block{
        order: 1;
    }
    .right-block{
        order: 2;
        flex-direction: column-reverse;
        gap: 0px;
    }
    .copyright{
        order: 3;
        margin: 0 auto;
        flex-basis: 100%;
        font-size: 11px;
    }
    .logo-mini{
        display: block;
    }
    .logo{
        display: none;
    }

    .contacts{
        margin-bottom: 15px;
    }
}