.case{
    padding-block: 10px;
    padding-inline: 10px;
}

.case:hover{
    border: 2px solid var(--accent-text-color);
    transition: border-width 0.3s ease-in-out;
}

.image{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-block-start: 20px;
}