.image{
    outline: 2px solid var(--accent-text-color);
    object-fit: cover;
    margin-block-end: 20px;
}

.h4{
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.first-block{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    gap: 30px;
    align-items: start;
}

.item{
    margin: 0;
}

.text{
    color: var(--small-text-color);
    margin-block-start: 10px;
}

.contacts-block{
    margin-block-end: 40px;
}

@media (max-width: 900px) {
    .wrapper{
        flex-direction: column-reverse;
    }

    .second-block{
        display: flex;
        justify-content: space-between;
    }

    .h4{
        margin-block-start: 30px;
        margin-block-end: 30px;
    }

    .first-block{
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .second-block{
        gap: 15px;
        flex-wrap: wrap;
    }

    .image{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 400px) {
    .first-block{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .item{
        display: flex;
        gap: 10px;
    }

    .image{
        width: 108px;
        height: 108px;
    }

    .text{
        font-size: 11px;
    }
}