.contacts{
    margin-block-end: var(--large-margin);
}

.image{
    border: 2px solid var(--accent-text-color);
    object-fit: cover;
    margin-block-end: 20px;
}

.h4{
    margin-block-start: 40px;
    margin-block-end: 40px;
}

.first-block{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    gap: 30px;
    align-items: start;
}

.item{
    margin: 0;
}

.text{
    color: var(--small-text-color);
    margin-block-start: 10px;
}

.contacts-block{
    margin-block-end: 40px;
}

@media (max-width: 1280px){
    .image{
        width: 320px;
        height: auto;
    }
}

@media (max-width: 900px) {
    .wrapper{
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .second-block{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .h4{
        margin-block-start: 30px;
        margin-block-end: 30px;
    }

    .first-block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .image{
        width: 100%;
        height: auto;
    }

    .text{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .second-block{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }

    .contacts-block{
        margin-block-end: 0;
    }

    .contacts{
        margin-block-end: 80px;
    }
}

@media (max-width: 400px) {
    .second-block{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 30px;
    }

    .first-block{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 15px;
        width: 100%;
    }

    .item{
        display: flex;
        gap: 10px;
    }

    .text{
        font-size: 11px;
    }

    .image{
        width: 108px;
        height: 108px;
    }
}